.location_section {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 1rem;
  background-color: var(--background-color);
  margin-top: 3rem;
  color: #fff;
  font-size: 13px;
}

.location_item {
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-align: left;
  line-height: 2;
  margin-top: 2.5rem;
  font-size: 10px;
}

.location_image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 20px;
  margin-top: 2rem;
  transition: transform 0.3s; 
  border-block-end-style: inset;
}

.location_image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
  border-radius: 20px;
  transition: transform 0.3s; 
}

iframe:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Styling for the new map section */
.map_section {
  margin-top: 2rem;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.map_image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 20px;
  margin-top: 2rem;
  transition: transform 0.3s; 
}

.map_image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}
